body{
    background-color: rgba(18, 17, 17, 0.997);
    margin:0;
    padding:0;
}
.vertical #but{
    background-color: rgb(43, 39, 39);
    border: none;
    color: white;
    margin: 15px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-size: small;
    cursor: pointer;
    
}

.vertical #navbar{
    background-color: rgb(43, 39, 39);
    margin:0;
}
  
.vertical a {
   
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}
  
.vertical a:hover {
    background-color: #ccc;
    font-family:fantasy;
    color: blue;
}
  
.vertical a.active {
    background-color: #04AA6D;
    color: white; 
}

.vertical #home, .vertical #network, .vertical #message, .vertical #noti, .vertical #jobs {
    width: 100px;
    height: 150px;
    overflow-y: auto;
    display: none;
    vertical-align: top;
    font-size: small;
}
.vertical #home{
    margin-left: 60%;
}
.vertical #network{
    margin-left: 66.5%;
}
.vertical #message{
    margin-left: 82.5%;
}
.vertical #noti{
    margin-left: 92%;
}
.vertical #jobs{
    margin-left: 75.5%;
}
